.Frontpage {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App {
  background-color: #e2f0f9;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.RecipeCard {
  width: 50vw;
  padding-bottom: 50px;
  margin: 50px;
  border: 1px black solid;
  background-color: #ffffff;
  transition-duration: 0.5s;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.RecipeCard img {
  max-width: 30vw;
}

.homepageButton {
  background-color: #286fb4;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 18px;
  transition-duration: 0.5s;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  padding: 5px;
  margin-bottom: 6px;
  width: 10%;
}

.homepageButton:hover {
  background-color: white;
  color: black;
}

.generateRecipeButton {
  background-color: #286fb4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  margin-right: 50px;
  transition-duration: 0.5s;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.generateRecipeButton:hover {
  background-color: white;
  color: black;
}

.loginform {
  width: 75%;
  padding-left: 10px
}

.loginbutton {
  padding: 15px 32px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  transition-duration: 0.5s;
}

.loggedinbutton {
  padding: 15px 32px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  transition-duration: 0.5s;
}

input[type=text] {
  width: 90%;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginformForm {
  display: flex;
}

.card {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#top {
  display: flex;
  background-color: #b0dde4;
}

.left {
  width: 35%;
  margin-top: 45px;
}

.right {
  width: 65%;
}

.favouritebutton {
  background-color: #286fb4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.5s;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 6px;
  margin-left: 40px;
}


.favouritebutton:hover {
  background-color: white;
  color: black;
}

.favourites {
  border: 1px solid black;
  padding: 50px;
  transition-duration: 0.5s;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 50px;
  margin-left: 45px;
  background-color: #ffffff;
}

.instructions {
  border: 1px solid white;
  transition-duration: 0.5s;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 30px;
  font-size: 22px;
}

.ingredients{
  font-size: 22px;
}

h2 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  }

  h3 {
    font-size: 30px;
  }
