.Frontpage {
  min-height: 100vh;
  background-image: url("https://images.pexels.com/photos/1028598/pexels-photo-1028598.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  position:relative;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.App {
  min-height: 100vh;
  display: flex;
}

.center {
  text-align: center;
}

.RecipeCard {
  width: 90%;
  padding-bottom: 50px;
  margin: 50px;
  border: 1px black solid;
  background-color: #ffffff;
  transition-duration: 0.5s;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.RecipeCard h2 {
  text-align: center;
  font-size: 30px;
}

.RecipeCard h3 {
  text-align: center;
  font-size: 25px;
}

.RecipeCard img {
  max-width: 15vw;
}

.RecipeCard .imageBox {
  text-align: center;
}

.homepageButton {
  background-color: #286fb4;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 18px;
  transition-duration: 0.5s;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  padding: 5px;
  margin-bottom: 6px;
  width: 10%;
}

.homepageButton:hover {
  background-color: white;
  color: black;
}

.generateRecipeButton {
  background-color: #286fb4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  transition-duration: 0.5s;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.generateRecipeButton:hover {
  background-color: white;
  color: black;
}

.ingredientsdiv, .allergiesdiv {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 5px 10px;
}

.ingredientsdiv li {
  list-style-type: none;
  justify-content: left;
}

.ingredientslist {
  position: absolute;
  margin-top: 20px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  overflow: visible;
}

.ingredientslist ul {
  padding: 0;
}

.ingredientslist ul div {
  display: inline;
}

.ingredientslist ul div li {
  display: inline;
  margin-right: 10px;
}

.ingredientslist div {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.dropdown {
  width: 90%;
  padding: 1px 10px;
  margin-left: 10px;
  margin-top: 1px;
}

.dropdown ul {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.dropdown li {
  padding-left: 5px;
}

.dropdown li:hover {
  background-color: lightgray;
  color: black;
  cursor: pointer;
}

#ingredients, #allergies {
  width: 90%;
  padding: 5px 10px;
  margin-left: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#ingredients:hover, #allergies:hover {
  background-color: lightgray;
  color: black;
}

.loginform {
  width: 75%;
  padding-left: 10px
}

.loginbutton {
  padding: 15px 32px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  transition-duration: 0.5s;
}

.loggedinbutton {
  padding: 15px 32px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  transition-duration: 0.5s;
}

input[type=text] {
  width: 90%;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginformForm {
  display: flex;
}

.card {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#top {
  display: flex;
  background-color: #b0dde4;
}

.left {
  width: 35%;
  margin-top: 45px;
}

.right {
  width: 65%;
}

.right .buttonBox {
  text-align: center;
}

.favouritebutton {
  background-color: #286fb4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.5s;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 6px;
  margin-left: 40px;
}


.favouritebutton:hover {
  background-color: white;
  color: black;
}

.deletebutton {
  background-color: #286fb4;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  transition-duration: 0.5s;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.deletebutton:hover {
  background-color: white;
  color: black;
}



.favourites {
  border: 1px solid black;
  padding: 30px;
  transition-duration: 0.5s;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 45px;
  background-color: #ffffff;
}

.favourites form input[type=text] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.instructions {
  border: 1px solid white;
  transition-duration: 0.5s;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  white-space: pre-line;
  line-height: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.ingredients {
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

.ingredients ul {
  columns: 3
}

h2 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  }

h3 {
  font-size: 30px;
}

.rec {
  width: 8vw;
}

.link {
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.clickable :hover {
  cursor: pointer;
}

.addButton {
  background-color: #286fb4;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-right: 30px;
  transition-duration: 0.5s;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.formButton {
  background-color: #286fb4;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.5s;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: white;
  color: black;
}

.favouriteRecipeItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form {
  margin: 12px;
}


.button {
  background-color: #286fb4;
  border: none;
  color: white;
  margin-right: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.5s;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.submitButton {
  background-color: #286fb4;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.5s;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


.clearButton {
  background-color: #286fb4;
  border: none;
  color: white;
  text-align: center;
  margin-left: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.5s;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}