
.Frontpage {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
}

.RecipeCard {
  width: 50vw;
  padding-bottom: 50px;
  margin: 50px;
  border: 1px black solid;
  background-color: gray;
}

.RecipeCard img {
  max-width: 30vw;
}

#generatebutton {
  background-color: #0080FE;
  border: none;
  color: white;
  padding: 15px 32px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  transition-duration: 0.5s;
}

#generatebutton:hover {
  background-color: white;
  color: black;
}

.loginform {
  padding-top: 50px;
  display: grid;
  margin: 50px;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  width: 50vw;
}

.loginbutton {
  background-color: #0080FE;
  border: none;
  color: white;
  padding: 15px 32px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  transition-duration: 0.5s;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

