
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
}

.RecipeCard {
  width: 50vw;
  height: 100vh ;
  border: 1px black solid;
  background-color: gray;
}

.RecipeCard img {
  max-width: 30vw;
}